#site-loader {
	background: $site_bg;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	min-height: 100%;
	z-index: 99999;

	@include transition (opacity 450ms);

	#logo-loader {
		opacity: 0;
		@include transition (opacity 450ms);
	}

	div {
		width: 150px;
		height: 150px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -75px 0 0 -75px;

		@include background-image(linear-gradient(top, #C7FFC7, #00C475));
		@include mask-image(logo, 150px, top center);

		&#logo-loader-increase {
			background: #fff;
			height: 150px;

			@include transition(height 500ms linear);
		}
	}
}