{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "lib": "./lib",
          "modules": "./modules",
          "core": "./core",
          "ui": "./ui"
        }
      }
    ],
    [
      "styled-components",
      {
        "displayName": true,
        "preprocess": false
      }
    ],
    "inline-react-svg"
  ]
}
