{
  "parser": "babel-eslint",

  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },

  "rules": {
    "strict": 0,
    "quotes": [0, "single"],
    "no-irregular-whitespace": 0,
    "no-trailing-spaces": [0, { skipBlankLines: true }],
    "no-mixed-spaces-and-tabs": 0,
    "no-extra-strict": 0,
    "eol-last": 0,
    "new-cap": 0,
    "no-debugger": 0,
    "no-unreachable": 0,
    "no-mixed-requires": 0,
    "no-multi-spaces": 0,
    "camelcase": 0,
    "no-use-before-define": 0
  },

  "globals": {
    "kw",
    "alert",
    "console",
    "$",
    "weather",
    "Highcharts",
    "Hammer",
    "ga",
    "QUnit",
    "insertGA"
  }
}
