.snapshot-graph {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.snapshot-graph__inner {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  margin: 20px 20px 10px;
  box-sizing: border-box;
  
  max-height: none !important;
  width: auto !important;
}

.snapshot-graph__canvas {
  width: 100% !important;
  height: 100% !important;
}

.snapshot-graph__prop-chooser {
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}