.header-icon {
  margin-right: 5px;
}

.header-title {
  text-transform: capitalize;
  text-transform: 150%;
}

.content-centered {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}