.range-slider {
	height: 40px;
	display: flex;
	padding: 0 20px;
  user-select: none;
  touch-action: none;
}

.range-slider__inner {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.range-slider__line {
	height: 1px;
	background: #aaa;
	width: 100%;
}

.range-slider__indicator {
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 0;
}

.range-slider__indicator::before {
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #a0a0a0;
	display: block;
	position: absolute;
  top: -7px;
  left: -7px;
}